body{
    background-color: rgb(36, 35, 35);
    background-image: url('./img/henning-witzel-ukvgqriuOgo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.contener{
    margin-top: 3.5rem;
    display: grid;
    place-items: center;
    
}
.contener h2{
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 900;
    color: #fff;
}

button {
    cursor: pointer;
    background-color: rgb(246, 185, 70);
    padding: 0.50rem;
    border-radius: 15px;
}
input {
    -webkit-appearance: none;
    height: 2rem;
    border-radius: 15px;
}
button,input {
    border: none;
    margin-bottom: 5rem;
    outline: none;
    
}

/* .contener input{
    width: 25%;
    outline: none;
    border-radius: 15px;
    height: 1.7rem;
    margin-bottom: 2rem;
    border: none;
}
.contener button{
    width: 20%;
    outline: none;
    border-radius: 15px;
    text-transform: capitalize;
    margin-bottom: 1rem;
    background-color: none;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 900;
    padding: 5px;
    background-color: rgb(246, 170, 28);
    margin-bottom: 5rem;
    
    
} */
.contener button:hover{
    background-color: rgb(243, 175, 49);
    
}

.resultContener{
    flex-direction: row;
    display: flex;
    
    
}

.card{
    color: #fff;
    margin-left: 1rem;
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 2px 30px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px) ;
    width: 120%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}

.card p, span{
    font-size: 25px;
    font-weight: 900;
    text-transform: capitalize;
    
}

.card span{
    color: rgb(255, 4, 4);
}

.info{
    /* width: 90px;
    display: grid;
    place-items: center; */

}



